@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Anton&family=Libre+Baskerville&display=swap');

@font-face {
    font-family: "DayPosterBlack";
    src: url("../fonts/DAYPBL__-webfont.woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "EckhardtPosterItalicJNL";
    src: url("../fonts/3AEE99_0_0.eot");
    src: url("../fonts/3AEE99_0_0.eot?#iefix") format("embedded-opentype"),
        url("../fonts/3AEE99_0_0.woff2") format("woff2"),
        url("../fonts/3AEE99_0_0.woff") format("woff"),
        url("../fonts/3AEE99_0_0.ttf") format("truetype");
    font-display: swap;
}
